src/main/mule/wordtimeapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="416b3a19-900a-4ad2-a682-cc2b6f90e489" basePath="/timezone">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="0c9b1d2b-9e52-4a1c-8593-3509251c654a" basePath="/api/timezone">
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="wordtimeapiFlow" doc:id="5649c0ed-f63c-4dc5-a614-88f08eece248" >
		<http:listener doc:name="Listener" doc:id="92d29cc2-f9d6-42cc-9d82-7a38ca501414" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="5ecfbdb4-1cd6-46f0-bf5d-11b768da7c89" config-ref="HTTP_Request_configuration" path="/{area}/{location}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	area : attributes.uriParams.region,
	location : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
